.bg-custom{
    background-image: url('../img/bgblue.png');
}
.bg-custom-green{
    background-image: url('../img/bggreen.png');
}

body{
    background-image: url('../img/bgdashboard.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right; 
    background-size: contain;
}

.body-custom{
    background-image: url('../img/bgdashboardgreen.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right; 
    background-size: contain;
}

.sidenav-toggler-line
{
    background-color: black !important;;
}

.sideprofile{
    width: 100px;
    height: 100px;
}

.profile{
    display: block;
    width:50%;
    margin: auto;
}

.profilebig{
    display: block;
    width:40%;
    margin: auto;
}

.profilefull{
    display: block;
    width:100%;
    margin: auto;
}

.agenda-name{
    font-size: 1rem;
    font-weight: bold;
}
.agenda-name a{
    font-size: .875rem;
}

.agenda-time{
    font-size: .875rem;
}

.text-black{
    color: black;
}

.active{
    border-radius: 10px;
    text-align: center;
    background-color: #2F80ED;
    color : white;
    font-weight: bold;
}

.nonactive{
    border-radius: 10px;
    text-align: center;
    background-color: #C4C4C4;
    color : 494949;
    font-weight: bold;
}

.reccom{
    border: 1.5px solid;
    border-color: #2F80ED;
    border-radius: 10px;
}

.bold{
    font-weight: bold;
}

.vercernter{
    margin: auto;
}

.navbar-search .focused .input-group .form-control
{
    width: 250px;
}

#popup-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

#popup-outer{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 2001;
}

#popup-wrap-content{
    max-width: 100%;
    min-width: 300px;
    width: 500px;
    margin: auto;
    z-index: 2001;
    display: none;
}

.bdr-round, .form-control, .form-control-sm{
    border-radius:2rem;
}

.form-control{
    width: 90%;
    display: inline-block;
    color: black;
    border: solid black;
}

.inputan{
    padding: 22px 30px;
    font-size:18px;
    font-weight:bold;
    border: solid black;
    color: black;
}

.form-group{
    margin-bottom: 15px;
}

.btn-success
{
    background-color: #219653;
}

.btn-success:hover
{
    background-color: #219653;
}

.jc-right{
    justify-content: flex-end;
}