<!doctype html>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<style>
			.blueBG{
				background-image:url('Asset/bgblue.png');
				background-repeat: no-repeat;
				background-attachment: fixed;  
				background-size: 100% 100%;
			}
			.bdr-round{
				border-radius:1.5rem;
			}
			.form-control{
				width: 75%;
				display: inline-block;
			}
			.inputan{
				padding: 22px 30px;
				font-size:18px;
				font-weight:bold;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col" style="padding-top:100px;">
						<img class="mw-100" src="Asset/logo.png" alt="logo.png">
						<img class="mw-100" src="Asset/illustration.png" alt="illustration.png">
				</div>
				<div class="col blueBG" style="height:800px; padding-top:172px;">
					<h1 style="color:white;">Welcome Back!</h1>
					<br/><br/><br/>
					<form action="login.php" method="post">
						<div class="form-group">
							<input type="text" class="form-control bdr-round inputan" placeholder='username' name="username" title="Input your username here" required>
							<br/><span style="color:red;" id='msgUN'></span>
						</div>
						<br/>
						<div class="form-group">
							<input type="password" class="form-control bdr-round inputan" placeholder="password" name="password" title="Input your password here" required>
							<br/><span style="color:red;" id='msgPS'></span>
						</div>
						<br/>
						<button type="submit" name="login" class="btn btn-warning bdr-round" style="padding: 8px 40px;" title="Click here to login" /><b><span style="font-size:20px;">LOGIN</span></b></button>
					</form>
					<br/><br/>
					<p style="color:white;">Don't have an account yet? <a href="signup.php" style="color:white;">Sign Up</a></p>
				</div>
			</div>
		</div>
	</body>
</html>