<!doctype html>
<html>
<head>
	<title>Testing</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
	<h3>Form tambah data user baru</h3>
	<form method="POST" id="form_akun">
		<label>Nama lengkap</label>
		<input type='text' name='nama_lengkap' required /><br/>
		<label>Username</label>
		<input type='text' name='username' minlength="8" maxlength="16" required /><br/>
		<label>Email</label>
		<input type='email' name='email' required /><br/>
		<label>Password</label>
		<input type='password' name='password' required /><br/>
		<label>Jenis kelamin</label>
		<input type='radio' name='jenis_kelamin' value='L' required />Laki-laki
		<input type='radio' name='jenis_kelamin' value='P' required />Perempuan<br/>
		<label>Telepon</label>
		<input type='tel' name='telepon' required /><br/>
		<label>Jalan</label>
		<input type='text' name='jalan' required /><br/>
		<label>Kota</label>
		<input type='text' name='kota' required /><br/>
		<label>Kode Pos</label>
		<input type="text" pattern="[0-9]{5}" name='kodePos' title="5 digit kode pos" /><br/>
		<button type='submit' name='tambahUser'>Tambah User</button>
	</form>

	<h3>Form tambah foto profil</h3>
	<form action="./" method="POST">
		<label>Pilih Akun</label>
		<select name='id_akun' required >
			<option value='' hidden>Pilih Akun</option>
			Pilihan Akun
		</select><br/>
		<label>Foto profil</label>
		<input type='file' name='foto_profil' required /><br/>
		<button type='submit' name='simpanFoto'>Simpan Foto</button>
	</form>
	<div>Data Akun</div><br/>isian data akun

	<h3>Form tambah data kebiasaan baru</h3>
	<form action="./" method="POST">
		<label>Nama kebiasaan</label>
		<input type='text' name='nama_kebiasaan' required /><br/>
		<label>Status kebiasaan</label>
		<select name='status_kebiasaan' required >
			<option value='pribadi'>Pribadi</option>
			<option value='rekomendasi'>Rekomendasi</option>
			<option value='challenge'>Challenge</option>
		</select><br/>
		<label>Waktu</label>
		<input type='time' name='waktu' required /><br/>
		<label>Ulang</label>
		<select name='ulang' required >
			<option value='tiap hari'>Tiap hari</option>
			<option value='tiap minggu'>Tiap minggu</option>
			<option value='tiap bulan'>Tiap bulan</option>
		</select><br/>
		<label>Deskripsi</label>
		<textarea name='deskripsi' rows='5'></textarea><br/>
		<button type='submit' name='tambahKebiasaan'>Tambah Kebiasaan</button>
	</form>
	<div>Data Kebiasaan</div><br/>isian data kebiasaan

	<h3>Form tambah data hadiah baru</h3>
	<form action="./" method="POST">
		<label>Pilih kebiasaan</label>
		<select name='id_kebiasaan' required >
			<option value='' hidden>Pilih Kebiasaan</option>
			Pilihan Kebiasaan
		</select><br/>
		<label>Nama hadiah</label>
		<input type='text' name='nama_hadiah' required /><br/>
		<label>Kode hadiah</label>
		<input type='text' name='kode_hadiah' required /><br/>
		<label>Deskripsi</label>
		<textarea name='deskripsi' rows='5'></textarea><br/>
		<button type='submit' name='tambahHadiah'>Tambah Hadiah</button>
	</form>
	<div>Data Hadiah</div><br/>isian data hadiah

	<h3>Form tambah rekap kebiasaan</h3>
	<form action="./" method="POST">
		<label>Pilih Akun</label>
		<select name='id_akun' required >
			<option value='' hidden>Pilih Akun</option>
			Pilihan Akun
		</select><br/>
		<label>Pilih kebiasaan</label>
		<select name='id_kebiasaan' required >
			<option value='' hidden>Pilih Kebiasaan</option>
			Pilihan Kebiasaan
		</select><br/>
		<button type='submit' name='rekap'>Rekap</button>
	</form>
	<div>Rekap Kebiasaan</div><br/>isian data rekap

	<h3>Form lihat rangking kebiasaan</h3>
	<form action="./" method="POST">
		<label>Pilih kebiasaan</label>
		<select name='id_kebiasaan' required >
			<option value='' hidden>Pilih Kebiasaan</option>
			Pilihan Kebiasaan
		</select><br/>
		<button type='submit' name='rangking'>Lihat</button>
	</form>
	<div>Rangking Kebiasaan</div><br/>isian rangking kebiasaan

	<script>
		$(document).ready(function(){
			console.log("document is ready");
			$('#form_akun').on('submit', function(event){
				event.preventDefault();
				console.log("submit isi form_akun");
				var formData = $(this).serialize();
				$.ajax({
					url: 'index.php',
					method: 'POST',
					//data:formData,
					success: function(data){
						console.log(data);
					}
				});
			});
		});
	</script>

</body>
</html>